<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                License: CC-BY-SA-4.0, Made with <span class="heart"></span> in AMRL.
            </div>
            <div class="col-sm-6 text-right">
                <a href="https://github.com/mrl-amrl"><img src="/images/icons/github.png" width="24px" style="margin-left: 5px;"></a>
                <a href="https://www.youtube.com/channel/UC_j85ewo8FQl24j39xWnCTw"><img src="/images/icons/youtube.png" width="24px" style="margin-left: 5px;"></a>
                <a href="https://instagram.com/mrl_amrl"><img src="/images/icons/instagram.png" width="24px" style="margin-left: 5px;"></a>
            </div>
        </div>
    </div>
</footer>