<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advanced Mobile Robotics Labratory</title>
    <meta name="author" content="Ahmadreza Zibaei">
    <meta name="theme-color" content="#f1f3f5" />
    <meta name="description" content="Advanced Mobile Robotics Labratory" />
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="/images/favicon.ico">

    <link href="/css/styles.min.css?ver={{version}}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Special+Elite|Lato&display=swap" rel="stylesheet">    
</head>

<body>
    {% include "partials/preload.html" %}
    {% include "partials/header.html" %}

    <div id="main-content">
        <div class="foreground">
            {% block content %} {% endblock %}
        </div>

        <div class="background">
        </div>
    </div>

    {% include "partials/footer.html" %}

    <script src="js/scripts.min.js?ver={{version}}"></script>
</body>

</html>